<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="8016e20b-b07b-445a-b066-e89f54fe1ce9" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://www.googleapis.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="8016e20b-b07b-445a-b066-e89f54fe1ce9fileName">https%3A%2F%2Fwww.googleapis.com</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>https://www.googleapis.com</con:endpoint></con:endpoints></con:interface>