<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="4ed3b965-f6ab-491a-acb9-d26d5b178990" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://developer-common-api.publicsafetyreports.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="4ed3b965-f6ab-491a-acb9-d26d5b178990fileName">https%3A%2F%2Fdeveloper-common-api.publicsafetyreports.com</con:setting></con:settings><con:definitionCache type="TEXT" rootPart=""/><con:endpoints><con:endpoint>https://developer-common-api.publicsafetyreports.com</con:endpoint></con:endpoints></con:interface>