<?xml version="1.0" encoding="UTF-8"?>
<con:interface xsi:type="con:RestService" id="260b3d8d-d18a-42a0-89b5-4340fda16fe2" wadlVersion="http://wadl.dev.java.net/2009/02" name="https://developer-common-api.publicsafetyreports.com" type="rest" xmlns:con="http://eviware.com/soapui/config" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"><con:settings><con:setting id="260b3d8d-d18a-42a0-89b5-4340fda16fe2fileName">https%3A%2F%2Fdeveloper-common-api.publicsafetyreports.com</con:setting></con:settings><con:definitionCache/><con:endpoints><con:endpoint>https://developer-common-api.publicsafetyreports.com</con:endpoint></con:endpoints></con:interface>