<?xml version="1.0" encoding="UTF-8"?>
<con:testSuite id="59612ee1-5c59-47a2-aaad-52ba95a8ee35" name="Tab Template API" xmlns:con="http://eviware.com/soapui/config"><con:settings><con:setting id="59612ee1-5c59-47a2-aaad-52ba95a8ee35fileName">Tab-Template-API</con:setting></con:settings><con:runType>SEQUENTIAL</con:runType><con:properties><con:property><con:name>latestTemplateVer</con:name><con:value> </con:value></con:property><con:property><con:name>KnownTabTemplateId</con:name><con:value>TESTTabsTemplate</con:value></con:property></con:properties><con:reportParameters/></con:testSuite>