<?xml version="1.0" encoding="UTF-8"?>
<con:soapui-project id="76870219-dc32-4511-867c-63a5a9fd4688" activeEnvironment="Default" name="PLEASE IMPORT ME" resourceRoot="" xmlns:con="http://eviware.com/soapui/config"><con:settings/><con:properties/><con:wssContainer/><con:databaseConnectionContainer/><con:oAuth2ProfileContainer/></con:soapui-project>